doctype 5
html
  head
    meta(name='description', content='an open repository for computer sciences and cyber culture related materials: coding, reverse engineering, computer security,...')
    meta(name='keywords', content='programming, windows, linux, coding, c, c++, assembly, music, cyber culture')
    meta(charset='UTF-8')
    title= 'Index of ' + path
    style(type='text/css')
      body { margin: 50px; } a { color: #ff00b7; text-decoration: none; } a:hover { text-decoration: underline; }
  body
    div(align='right')
      img(src='/images/banner.jpg')
    block content
  footer
    pre
      div(align='right')
        strong voidNULL
        = '(beta) is powered by '
        a(href='http://www.nginx.org/') nginx
        = '/'
        a(href='http://www.nodejs.org/') node.js